<mat-card>
  <mat-card-header>
    <mat-card-title>Brand details {{ brand ? brand.id : "" }}</mat-card-title>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-header>

  <mat-card-content *ngIf="brand">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput value="{{ brand.name }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country:</mat-label>
      <input matInput value="{{ brand.country }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country:</mat-label>
      <input matInput value="{{ brand.country }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Industry:</mat-label>
      <input matInput value="{{ brand.industry }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Founded in:</mat-label>
      <input matInput value="{{ brand.foundedIn }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Founded by:</mat-label>
      <input matInput value="{{ brand.foundedBy }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rank:</mat-label>
      <input matInput value="{{ brand.rank }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rating:</mat-label>
      <input matInput value="{{ brand.rating }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Brand Value USD(m):</mat-label>
      <input matInput value="{{ brand.brandValue }}" />
    </mat-form-field>
  </mat-card-content>
</mat-card>
