<mat-card>
  <mat-card-header>
    <mat-card-title>Portfolio details</mat-card-title>
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="error">
      <p>Error: {{ error }}</p>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="portfolio">
      <p>
        <mat-form-field class="formField">
          <mat-label>Id:</mat-label>
          <input matInput value="{{(portfolio.id)?portfolio.id:''}}" readonly>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="formField">
          <mat-label>Name:</mat-label>
          <input matInput value="{{portfolio.name}}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="formField">
          <mat-label>Desctiption:</mat-label>
          <textarea matInput rows="6">
            {{portfolio.description}}
          </textarea>
        </mat-form-field>
      </p>
      <p>
        <user-chooser></user-chooser>
        <account-chooser></account-chooser>
        <brand-chooser></brand-chooser>
      </p>
    </div>
  </mat-card-content>
</mat-card>
