<mat-card>
  <mat-card-header>
    <mat-card-title
      >Portfolio: {{ portfolio?.id ? portfolio?.id : "" }}</mat-card-title
    >
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card-header>

  <mat-card-content *ngIf="portfolio">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput value="{{ portfolio.name }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Desctiption:</mat-label>
      <textarea matInput rows="6">
            {{ portfolio.description }}
          </textarea
      >
    </mat-form-field>
    <user-chooser
      *ngIf="portfolio && portfolio.users"
      [existingUsers]="portfolio.users"
      (currentUsers)="portfolioUsers($event)"
    ></user-chooser>
    <account-chooser
      *ngIf="portfolio && portfolio.accounts"
      [existingAccounts]="portfolio.accounts"
      (currentAccounts)="portfolioAccounts($event)"
    ></account-chooser>
    <brand-chooser
      *ngIf="portfolio && portfolio.brands"
      [existingBrands]="portfolio.brands"
      (currentBrands)="portfolioBrands($event)"
    ></brand-chooser>
  </mat-card-content>
</mat-card>
