<mat-grid-list cols="2">
  <mat-card maxwidth="345">
    <mat-card-content>
      <img width="345" heigth="140" src="https://th.bing.com/th/id/R.3f7d964c48be6509da50d3396efc8514?rik=zEYqxFaZDGwoMQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-MXctD4ErbT8%2fUxrU3wNfnkI%2fAAAAAAAAAGw%2ffmdP5wboigA%2fs1600%2fHdhut.blogspot%2b%25252815%252529.jpg&ehk=xV7lrJKTT2%2fnYQUVNoxnM42dHs9DZheKz1xSq2BJrKI%3d&risl=&pid=ImgRaw&r=0"/>
      <mat-card-title>Lizard</mat-card-title>
      <mat-card-subtitle width="345">
        Lizards are a widespread group of squamate reptiles,<br>
        with over 6,000 species,<br>
        ranging across all continents except Antarctica<br>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card maxwidth="345">
    <mat-card-content>
      <img width="345" heigth="140" src="https://th.bing.com/th/id/R.dc0489491cb4dcf02d35839333e450c2?rik=6TIeb3W2peQ0fw&riu=http%3a%2f%2f3.bp.blogspot.com%2f-dui-f0hQUHE%2fU0Qs5dOcWII%2fAAAAAAAACpg%2fS1lb9AnsMU4%2fs1600%2floveable-cat-wallpaper-free.jpg&ehk=v0niYfmZzZONVgNw4o0N9ktIw1%2bOfTsRrQTqp0KJKnI%3d&risl=&pid=ImgRaw&r=0"/>
      <mat-card-title>Cat</mat-card-title>
      <mat-card-subtitle width="345">
        The cat (Felis catus) is a domestic species of small carnivorous mammal.<br>
        It is the only domesticated species in the family Felidae<br>
        and is commonly referred to as the domestic cat or<br>
        house cat to distinguish it from the wild members of the family.<br>
        Cats are commonly kept as house pets but can also be farm cats or feral cats;<br>
        the feral cat ranges freely and avoids human contact.<br>
        Domestic cats are valued by humans for companionship<br>
        and their ability to kill vermin.<br>
        About 60 cat breeds are recognized by various cat registries.<br>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card maxwidth="345">
    <mat-card-content>
      <img width="345" heigth="140" src="https://th.bing.com/th/id/R.a8b73b08a0354a706f00d3f24dee7378?rik=NWjjYn0emvfGOg&riu=http%3a%2f%2fhdqwalls.com%2fdownload%2f1%2fcolorful-parrot-bird.jpg&ehk=TueFyYK%2fTrLpzkimOSJEWLrgPGU%2fv%2bwcWxmK%2bdIZftk%3d&risl=&pid=ImgRaw&r=0"/>
      <mat-card-title>Bird</mat-card-title>
      <mat-card-subtitle max-width="345">
        Birds are a group of warm-blooded vertebrates constituting the class Aves,<br>
        characterised by feathers, toothless beaked jaws, the laying of hard-shelled eggs,<br>
        a high metabolic rate, a four-chambered heart, and a strong yet lightweight skeleton.<br>
            Birds live worldwide and range in size from the 5.5 cm (2.2 in) bee hummingbird<br>
            to the 2.8 m (9 ft 2 in) common ostrich.<br>
            There are about ten thousand living species, more than half of which are passerine,<br>
            or "perching" birds. Birds have wings whose development varies according to species;<br>
            the only known groups without wings are the extinct moa and elephant birds.<br>
            Wings, which are modified forelimbs, gave birds the ability to fly,<br>
            although further evolution has led to the loss of flight in some birds,<br>
            including ratites, penguins, and diverse endemic island species.
            The digestive and respiratory systems of birds are also uniquely adapted for flight.<br>
            Some bird species of aquatic environments, particularly seabirds and some waterbirds,<br>
            have further evolved for swimming.
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</mat-grid-list>
