

  <mat-card>
    <mat-card-header>
      <mat-card-title>Retailer {{id}}</mat-card-title>
      <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="error">
        <p>Error: {{ error }}</p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="retailer" >

      <p>
        <mat-form-field class="formField">
          <mat-label>Name:</mat-label>
          <input matInput value="{{retailer.name}}" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="formField">
          <mat-label>Status:</mat-label>
          <input matInput value="{{retailer.status}}" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="formField">
          <mat-label>Country of origin:</mat-label>
          <input matInput value="{{retailer.countryOfOrigin}}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="formField">
          <mat-label>Ranking:</mat-label>
          <input matInput value="{{retailer.rank}}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="formField">
          <mat-label>Retail revenue USD millions:</mat-label>
          <input matInput value="{{retailer.retailRevenue}}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="formField">
          <mat-label>Operational format:</mat-label>
          <input matInput value="{{retailer.operationalFormat}}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="formField">
          <mat-label>Number countries of operation:</mat-label>
          <input matInput value="{{retailer.countriesOfOperation}}">
        </mat-form-field>
      </p>
      <app-campaign-list></app-campaign-list>
    </div>
    </mat-card-content>
  </mat-card>

